{{> header}}
{{> navbar }}

  <main class="content">
    <div class="container">
      <article class="o-article">
          <header class="o-article__header">
              <div class="o-article__header__title">
                  <h2>{{ title }}</h2>
              </div>
              <div class="o-article__header__meta">
                  <time class="published">{{ date }}</time> - {{ timeToRead }} read.
              </div>
          </header>
          <main class="o-article__content">
              {{{ contents }}}
          </main>
          <footer class="o-article__footer">
              <div class="tag-links">
                  Tags: 
                  {{#each tags}}
                    <a href="/tags/{{slug}}" rel="tag" class="a-badge">{{ name }} </a>
                  {{/each}}
              </div>
      
              {{> comments }}
          </footer>
      </article>
    </div>
  </main>

  <div class="m-floating-menu">
      <div class="m-circle-icon">
        <i class="fa fa-twitter"></i>
        <span>Share</span>
      </div>
      <div class="m-circle-icon m-circle-icon--large m-circle-icon--secondary">
        <i class="fa fa-thumbs-up"></i>
        <span>Like</span>
        <span>Liked</span>
      </div>
      
  </div>

  <script>
      function handler() {
          if (this.classList.contains('selected')) {
            this.classList.remove('selected');
          } else {
            this.classList.add('selected');
          }
      }
      document.querySelectorAll('.m-floating-menu .m-circle-icon i')[0].addEventListener('click', handler);
      document.querySelectorAll('.m-floating-menu .m-circle-icon i')[1].addEventListener('click', handler);
  </script>

{{> footer }}
